@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*@media screen and (min-width:768px) {*/
:root{
    --color1:#f1c40f;
    --color2: #3498db;
}
*{box-sizing: border-box;}
html,body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    font-family: "Bungee", sans-serif;
}
body{
    background-image:url(fundo.jpg);
    padding: 5px;
    }
header{
    text-align: center;
    background-image:url(fundo2.jpg);
    color: var(--color1);
    border-radius: 10px;
    padding: 5px 0;
    overflow: hidden;   
    text-transform: uppercase;
    width: 95vw;
    margin: auto;
}
header > h1 > img{
    max-width: 50px;
}
h1{
    font-size: 28px;
    margin: 0px;
    padding: 0px;
    letter-spacing: -1px;
    font-weight: 800;
}
nav > a{
    margin: auto;
    color: var(--color1);
    text-decoration:none;
    letter-spacing: -1px;
    font-weight: 400;
    font-size: 18px;
}
nav > a:hover {
    text-shadow: 2px 2px 0px #ffffff2d;
    text-decoration: underline;
    text-decoration-thickness: 10%;
    text-underline-offset: 8x;
}
nav > a > img {
 max-width: 10px;
}
nav#cel{
    display: none;
}
span.pagina{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}
span.material-symbols-outlined{
    color: var(--color2);
    font-size: 1.7em;
    transform: translateY(3px);
}
main{
    background-image: url(imagensFrutas/textura.png);
    margin: 0px;
    border-radius: 10px;
    width: 95vw;
    margin:0px auto ;
}
footer{
    margin: 0;
   color: var(--color1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
    text-align: center;
    letter-spacing: -1px;
}   

img{
    width: 30vw;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.116);
    object-fit: cover;
}

#direitos{
   background-color: #fff;
    color: var(--color2);
    padding: 5px 10px;
    font-size: 1.2em;
    text-decoration: underline;
    text-align: center;
    font-weight: 400;
    text-shadow: #000;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 10px;
}
fieldset{
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 95vw;
    max-height: 425px;
    background-image: url(fundo2.jpg);
   color: var(--color1);
    border-radius: 10px;
    margin: 0px auto;
}
 fieldset >form{
    margin: auto;
}
.tel,.email{
    display: inline-block;
}
#suporte{
    width: 50%;
    margin: auto;
    text-align: left;
}
.indent{
    text-indent: 15px;
}
#suporte a:link{
    color: var(--color2);
    text-decoration: none;
    font-weight: 400;
}
#suporte a:link:hover{
    text-decoration: underline;
}

form>input[type=submit] {
    font-size: 1em;
    height: 22px;
    background-color: var(--color2);
    color: white;
    text-shadow: 2px 2px 2px black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*}